
* {
    z-index: 10;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #171b2c;
    font-family: 'SBSansDisplay',Arial,sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    
}

/* Container
 =================*/

.container {
    z-index: 600;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

/* Header
 =================*/

.menu-board {
    /* position: fixed; */
    background-color: #060c21;
    height: 80px; 
    width: 100%;
    z-index: 4000;
    position: fixed;
}

.menu__inner {
    z-index: 4000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.menu__logo {
    display: flex;
}

.logo {
    height: 55px;
    width: 55px;
    margin-right: 10px;
}

.logo.logo--right {
    margin-left: 10px;
}

.logo__text {
    font-size: 13px;
    color: #77d8df;
    margin: 0 10px
 }

.logo__subtitle {
    font-size: 12px;
} 

.line {
    width: 1px;
    height: 60px;
    background-color: rgb(48, 67, 75);
    margin: 0 10px;
}

.nav {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.nav__link {
    cursor: pointer;
    margin: 0 50px;
    text-decoration: none;
    color: #b7e4e7;
    transition: color 0.2s linear;
}

.nav__link:hover {
    color: #ffba24;
}

.nav__link.nav__link--btn {
    color: #fff;
    background-color: #1e915b;
    padding: 15px;
    border-radius: 6px;
}

.nav__link.nav__link--btn:hover {
    background-color: #37c281;
}

.languages {
    margin-left: 70px;
}

.languages .nav__link {
    margin: 0 10px;
}

/* Intro
 =================*/

.intro-board {
    position: relative;
    min-height: 700px;
    width: 100%;
    background-color: #171b2c;
    overflow: hidden;
    padding: 90px 10px;
}

.intro__inner {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blurred-pictures {
    position: fixed;
    z-index: 4;
}

.blurred-pictures.left {
    animation: blurred-pictures-left 12s linear infinite;  
}

.blurred-pictures.right { 
    animation: blurred-pictures-right 12s linear infinite;  
}

.blurred-pictures.moving {
height: 300px;
width: 300px;
}

.blurred-pictures.moving.top {
    top: 50px;
    left: -400px;
    animation: moveDown 25s linear infinite;
}

@keyframes moveDown {
    25% {
        left: calc(50% + 400px);
        top: 250px;
    }
    50% {
        top: 550px;
        left: 600px;
    }
    75% {
        top: 800px;
        left: 200px;
    }
    100% {
        top: 50px;
        left: -400px;
        transform: rotate(360deg);
    }
}

.blurred-pictures.moving.bottom {
    left: calc(50% + 950px);
    top: 800px;
    animation: moveUp 30s linear infinite;
}

@keyframes moveUp {
    25% {
        
        top: 0px;
    }
    50% {
        top: 400px;
        left: 200px;
    }
    75% {
        top: 700px;
        left: 800px;
    }
    100% {
        top: -100px;
        left: 2000px;
        transform: rotate(360deg);
    }
}

@keyframes blurred-pictures-left {
    to {
        transform:rotate(-360deg);
    }
}

@keyframes blurred-pictures-right {
    to {
        transform:rotate(360deg);
    }
}

.block-for-text {
    height: 270px;
    width: 580px;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    z-index: 5;
    position: relative;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    overflow: hidden;
}

.block-for-text::before {
    content: '';
    background-image: conic-gradient(
        #a62aee 50deg,
        transparent 100deg
    );
    width: 700px;
    height: 700px;
    position: absolute;
    border-radius: 30px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.block-for-text::after {
    content: '';
    width: 570px;
    height: 260px;
    position: absolute;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-for-text span {
    z-index: 5;
    color: black;
    width: 500px;
    font-size: 28px;
    font-weight: 300;
    font-family: 'SBSansDisplay',Arial,sans-serif;
    line-height: 1.7;
}

.intro__typing-text {
    border-radius: 30px;
    position: relative;
    height: 400px; 
    width: 700px; 
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    padding-left: 4px;
}

/* .intro__typing-text::before {
    content: '';
    background-image: conic-gradient(
        #a62aee 0deg,
        transparent 100deg
    );
    width: 800px;
    height: 700px;
    position: absolute;
    
    left: -125px;
    border-radius: 30px;
    animation: rotateTyping 4s linear infinite;
}

@keyframes rotateTyping {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.intro__typing-text::after {
    content: '';
    width: 565px;
    height: 390px;
    position: absolute;
    background-color: hsl(229, 31%, 13%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
} */

.intro__typing-text-title {
    height: 150px;
}

.intro__typing-text p {
    color: rgb(214, 211, 211);
    font-size: 24px;
    line-height: 1.5;
}

.intro__typing-text .btns {
    width: 400px;
}

.intro__typing-text a{
    font-size: 18px;
    margin-top: 30px;
    display: inline;
    border-radius: 6px;
    border:  2px solid #fff724;
    color: #fff724;
    padding: 10px 30px;
    text-decoration: none;
}

.intro__typing-text .btn--right {
    background-color: #fff724;
    color: #000;
    margin-left: 15px;
}

.intro__typing-text .btn--right:hover {
    background-color: rgb(231, 227, 89);
}

.intro__typing-text .btn--left:hover {
    background-color: #000
}

#autoTypingText {
    font-size: 70px;
    color: whitesmoke;
}

/* About-clinic
 =================*/

 .about-clinic {
     padding-top: 100px;
     position: relative;
 }

.about__inner {
    padding: 90px 0;
}

.purposes {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.purposes__header {
    margin-bottom: 150px;
    font-size: 54px;
}

.purposes__content {
    display: flex;
    justify-content: space-between;
}

.purposes__title {
    color: #dbf531;
    font-size: 30px;
}

.purposes__subtitle {
    line-height: 1.2;
    font-size: 20px;
    margin-top: 30px;
    color: #a39f9f;
}

.purposes__block {
    width: 33.33333%;
    padding: 10px 30px 75px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid;
    border-color: transparent;
    transition: border-color 0.2s linear;
}

.purposes__block:hover {
    border-color: #dbf531;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results__header {
font-size: 45px;
margin: 100px 0;

}

.result__numbers {
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    border-color: transparent;
    transition: border-color 0.2s linear;
}

.result__numbers:hover {
    border-color: #19aae3;
}

.result__item {
    padding: 50px 70px;
    margin: 0 50px;
}

.result__number {
    color: #19aae3;
    text-align: center;
    font-size: 60px;
}

.result__number::after {
    content: '+';
}

.result__name {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

/* Carousel
 =================*/

.carousel__inner {
    
    margin: 200px 0;
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    position: relative;
    height: 640px;
    z-index: 10;
    
}

.carousel__gallery{
    width: 900px;
    height: 600px;
    position: relative;
    z-index: 10;
    border-radius: 30px;
    overflow: hidden;
    border: 7px solid #1e915b;
}



.carousel__slide {
    width: 900px;
    display: block;
    max-height: 600px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    transition: all ease .7s;
}

.carousel__btn {
    background-color: rgb(0, 255, 71);
    top: 50%;
    z-index: 15;
    position: absolute;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    
}

.carousel__btn:hover {
    cursor: pointer;
    background-color: rgb(42, 206, 89);
}

.carousel__btn.left {
    left: 10px;
}

.carousel__btn.right {
    right: 10px;
}

.carousel__btn img {
    width: 100%;
    height: 100%;
    
}

.carousel__btn .left {
    transform: rotate(180deg);
}

/* Ways-and-branches
 =================*/

.ways-and-branches {
    position: relative;
    padding-top: 100px;
}

.ways-and-branches__inner {
    margin-bottom: 300px;
}

.ways {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ways__content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ways__header {
    font-size: 55px;
}

.ways__block {
    display: flex;
    color: #21ba72;
    font-size: 25px;
    margin: 25px 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    z-index: 9999;
    height: 160px;
    width: 450px;
}

.ways__block.first {
    left: 50%;
}

.ways__block.second {
    left: 10%;
}

.ways__block.third {
    left: 50%;
}

.ways__text {
    pointer-events: none;
    font-size: 28px;
}

.border {
    position: absolute;
    z-index: 6;
    height: 130px;
    width: 450px;
}

.border__inner {
    position: absolute;
    height: inherit;
    width: inherit;
}

.border__border {
    position: absolute;
    background-color: #fff;
    height: 130px;
    width: 450px;
    border-radius: 30px;
    transition: transform .1s linear;
}

.border__border.right {
    transform: rotate(-1deg);
}

.border__border.left {
    transform: rotate(1deg);
}

.ways__huge-number {
    position: absolute;
    color: #fff;
    font-size: 200px;
    opacity: .1;
    top: -25px;
    left: -125px;
    z-index: 1000;
}

.branches {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branches__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.branches__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0;
}

.branches__block {
    border-radius: 40px;
    border: 5px solid #21ba72;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 100px;
    transition: border-color linear .1s;
    text-align: center;
}

.branches__block:hover {
    background-color: #1e915b;
    color: #fff;
}

.branches__title {
    transition: opacity linear .1s;
    font-size: 25px;
}
.branches__block:hover .branches__title {
    opacity: .7;
    
}

.branches__header {
    color:#dbf531;
    margin-bottom: 150px;
    font-size: 54px;
}

/* Map
 =================*/

 .wrapper-map {
     position: fixed;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     z-index: 9999;
     align-items: center;

 }

.map {
    display: none;
    position: fixed;
    height: 600px;
    width: 600px;
    background-color: #fff;
    top: 25%;
    
    z-index: 9999;
    opacity: 1;
    transition: .2s;
}

.blackout {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000;
    transition: .25s;
    opacity: .76;  
    z-index: 1000;
    transition: opacity linear .2s;
}

.blackout.hidden {
    opacity: 0;
}

.map.hidden {
    opacity: 0;
}

[class*="copyrights-pane"] {
    display: none !important;
}

[class*="balloon__close-button"] {
    opacity: 1;
}

.balloon {
    height: 45px; 
}

.balloon__adress {
    color: #060c21;
}

.balloon__contacts a {
    text-decoration: none;
    z-index: 10;
}

/* Menu-mobile
 =================*/

 .menu-mobile {
     position: relative;
     
 }

 .menu-mobile__header {
     flex-direction: column;
     align-items: center;
     justify-content: center;
     display: flex;
     cursor: pointer;
 }

 .menu-mobile__header span {
     position: relative;
     height: 10px;
     width: 35px;
     border-top: 3px solid #dbf531;
 }

.menu-mobile__side {
    display: none;
    position: fixed;
    width: 280px;
    height: 100vh;
    top: 0;
    background-color: #171b2c;
    right: 0;
    transform: translate(0,0);
    transition: transform linear .15s;
    z-index: 9999;
}

.menu-mobile__side .logo {
    position: absolute;
    top: 10px;
    left: 20px;
}

.menu-mobile__side.hidden {
    transform: translate(100%,0);
}


.menu-mobile__hide {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    height: 15px;
    top: 12px;
    right: 40px;
}

.menu-mobile__buttons {
    list-style: none;
    margin-top: 100px;
    padding: 0;
}

.menu-mobile__item {
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
    color: #b7e4e7;
    padding-left: 20px;
    display: flex;
    height: 50px;
    width: 100%;
    max-height: 8vh;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
}

.menu-mobile__item:hover {
    background-color: #1e915b;
    color: #fff;
}

.menu-mobile__en {
    position: absolute;
    bottom: 4%;
    left: 25px;
    color: #b7e4e7;
    font-size: 17px;
    font-weight: 600;
}

/* Footer
 =================*/

.footer {
    position: relative;
    width: 100%;
    padding: 40px;
    background: #0d0d0e;
    color: #fff;
}

.footer-content {
   position: relative;
   display: flex;
   width: 100%;
   height: 100%;
}

.footer-socials {
   display: flex;
}

.footer-socials-icon {
   margin-right: 10px;
}

.instagram {
   width: 48px;
   height: 48px;
   background: url(/img/instagram.png);
   fill: #fff;
}

.vk {
width: 48px;
height: 48px;
background: url(/img/vk.png);
}

.telegram {
width: 48px;
height: 48px;
background: url(/img/telegram.png); 
}

.opacity-hover:hover {
    opacity: .7;
}

.footer-copyright {
font-size: 18px;
line-height: 100%;
color: #c9c9c9;
}

.footer-email,
.footer-workinghours,
.footer-adress {
display: flex;
flex-direction: column;
}

.footer-email-prefix,
.footer-adress-prefix,
.footer-workinghours-prefix {
font-size: 13px;
font-weight: 400;
color: #616060;
text-transform: uppercase;
}

.footer-email-content,
.footer-adress-content,
.footer-workinghours-content {
font-size: 18px;
color: #bfbfbf;
}

.footer-author {
opacity: .76;
font-size: 13px;
display: flex;
width: 128px;
height: 50px;
}

@media (min-width: 1600px) {
.footer {
    height: 269px;
   }
}
@media (min-width: 1025px) {
.footer {
        height: 250px;
}
.footer-socials {
        position: absolute;
        top: 50px;
}
.footer-copyright {
        position: absolute;
        top: 143px;
}
.footer-email {
        position: absolute;
        align-items: flex-end;
        right: 10px;
        bottom: 130px;
}
.footer-workinghours {
        position: absolute;
        align-items: flex-end;
        right: 10px;
        bottom: 70px;
}
.footer-adress {
    position: absolute;
    align-items: flex-end;
    right: 10px;
    bottom: 15px;
}
.footer-author {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 45%;
    top: 155px;
    color: #bfbfbf;
    border-radius: 20px;
    font-weight: 600;
}
}
@media (max-width: 1024px) {
.footer-content {
    flex-direction: column;
    align-items: center;
}
.footer-content>:not(haha) {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.footer-email,
.footer-adress,
.footer-workinghours {
    align-items: center;
}
}

/* Media
=================*/

@media (max-width: 1600px) {
    /* .menu__inner {
        padding: 10px 40px;
    }

    .intro__inner {
        padding: 10px 40px;
    } */

    .container {
        padding: 0 40px ;
    }

    .block-for-text {
        width: 480px;
        height: 200px;
    }

    .block-for-text::after {
        width: 470px;
        height: 190px;
    }

    .block-for-text span {
        font-size: 22px;
        width: 400px;
    }
}

@media (max-width: 1367px) {
    .intro__typing-text {
        width: 575px;
    }

    .intro__typing-text-title {
        height: 130px;
    }

    #autoTypingText {
        font-size: 60px;
    }

    .purposes__header {
        font-size: 50px;
    }
    
    .purposes__title {
        font-size: 25px;
    }

    .result__item {
        margin: 0;
    }

    .ways__content {
        align-items: center;
    }

    .ways__block.first,
    .ways__block.second,
    .ways__block.third {
        left: 0;
    }

    .border__border.left,
    .border__border.right {
        transform: none;
    }

    .branches__block {
        width: 340px;
    }
}

@media (min-width: 1201px) {
    .menu-mobile__header {
        display: none;
    }

    .menu-mobile {
        position: absolute;
    }
}

@media (max-width: 1200px) {
    .nav {
        display: none;
    }

    .block-for-text {
        display: none;
    }
    
    .intro__typing-text {
        width: 100%;
    }

    .intro__typing-text p {
        font-size: 28px;
    }

    .intro__typing-text .btns {
        width: 100%;
    }

    .intro__typing-text a {
        font-size: 25px;
    }

    .intro__inner {
        flex-direction: column;
        justify-content: center;
        align-items: normal;
    }

    .intro__typing-text-title {
        height: 150px;
    }

    #autoTypingText {
        font-size: 70px;
    }

    .purposes__header {
        font-size: 45px;
    }
    
    .purposes__title {
        font-size: 24px;
    }

    .purposes__subtitle {
        font-size: 18px;
    }

    .branches__wrapper {
        justify-content: space-between;
    }

    .branches__block {
        width: 280px;
    }

    .branches__title {
        font-size: 22px;
    }
}

@media (max-width: 991px) {
    .intro-board {
        padding: 90px 0;
    }

    .intro__typing-text {
        padding: 0;
    }

    .intro__typing-text p {
        font-size: 25px;
    }

    .intro__typing-text a {
        border-radius: 15px;
        font-size: 20px;
    }

    .carousel__gallery {
        width: 700px;
        height: 466px;
    }

    .carousel__slide {
        width: 700px;
    }

    .branches__wrapper {
        justify-content: space-around;
    }

    .branches__block {
        width: 200px;
        height: 85px;
    }

    .branches__title {
        font-size: 18px;
    }

    .purposes__content {
        flex-direction: column;
        align-items: center;
    }

    .purposes__block {
        width: 60%;
        margin-bottom: 20px;
    }

    /* .purposes__header {
        font-size: ;
    } */

    .purposes__subtitle {
        font-size: 18px;
    }

    .result__item {
        padding: 50px 40px;
    }

    .branches__header {
        font-size: 46px;
    }
}

@media (max-width: 767px) {
    .purposes__block {
        width: 75%;
    }

    .results {
        width: 100%;
    }

    .result__numbers {
        flex-direction: column;
        width: 100%;
    }

    .result__item {
        padding: 50px 0px;
    }

    .result__name {
        font-size: 22px;
    }

    .result__number {
        font-size: 50px;
    }

    .carousel__inner {
        margin: 50px 0;
        height: 400px;
    }

    .carousel__gallery {
        width: 500px;
        height: 332px;
    }

    .carousel__slide {
        width: 500px;
    }

    .branches__header {
        font-size: 33px;
    }

    .branches__wrapper {
        flex-direction: column;
        margin: 0;
    }

    .branches__wrapper:nth-child(3) {
        border-bottom: 1px solid #3c4050 ;
    }

    .branches__block {
        width: 100%;
        border: 0;
        border-top: 1px solid #3c4050;
        border-radius: 0;
    }

    .branches__title {
        font-size: 23px;
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0 5px;
    }

    .logo.logo--right,
    .line {
        display: none;
    }

    .intro__typing-text {
        height: 500px;
    }

    #autoTypingText {
        font-size: 55px;
    }

    .intro__typing-text p {
        font-size: 20px;
    }

    .intro__typing-text .btns {
        display: flex;
        flex-direction: column-reverse;
        width: 100%; 
    }

    .intro__typing-text .btn--right {
        margin-left: 0;
    }

    .intro__typing-text a {
        font-size: 18px;
        text-align: center;
    }

    .map {
        width: 90%;
        height: 500px;
    }
    
    .about-clinic {
        padding-top: 0;
    }

    .purposes__header {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 75px;
    }

    .ways__header {
        font-size: 40px;
    }
    
    .ways__block {
    width: 350px
    }

    .border,
    .border__border {
        width: 350px;
    }

    .ways__text {
        font-size: 24px;
    }

    .carousel__gallery {
        width: 350px;
        height: 263px;
        
    }
    
    .carousel__slide {
        width: 350px;
        height: 263px;
    }
}


@media (max-width: 500px) {
    .purposes__block {
        width: 80%;
    }

    .results__header {
        font-size: 36px;
    }

    .ways__header {
        font-size: 35px;
    }

    .border, 
    .border__border {
        width: 315px;
    }

    .branches__header {
        text-align: center;
    }
}
